section.container
    .row
        .col-md-7.pt-4.align-self-center
            h2.text-c-green.mb-3 Increase your business 
                span.text-c-orange traffic 
            p.fs-5.text-c-violet We are committed to processing the information in order to contact you and talk about your project. 
            form(action="#", method="post") 
                button.mt-3.me-md-3.btn.btn-warning.text-uppercase(type='button') Learn More
        .col-md-5.pt-4.align-self-start
            img.img(src="../dist/images/Image.png", alt="Group")
    .row.mt-5
        .col.text-center
            h2.text-c-green.mb-3 3 Simple Ways To 
                span.text-c-orange Save 
                |A Bunch
                br
                |Of 
                span.text-c-orange Money 
                |When Buying A New Computer
            p.fs-5.text-c-violet Fully customizable and neatly organized components 
                br
                |will help you work faster without limiting creative freedom.
        .row
            .col-md-4.text-center.mt-4
                h2.text-c-green.mb-2 100+
                p.fs-6.text-c-violet 5 Reasons To Purchase Desktop Computers
            .col-md-4.text-center.mt-4
                h2.text-c-green.mb-2 43,000+
                p.fs-6.text-c-violet 3 Simple Ways To Save A Bunch Of Money When Buying A New Computer
            .col-md-4.text-center.mt-4
                h2.text-c-green.mb-2 30+
                p.fs-6.text-c-violet A Discount Toner Cartridge Is Better Than Ever And You Will Save 50 Or More      
    .row.mt-5.position-relative
        img.img.position-absolute.top-200.start-50.translate-middle.d-none.d-sm-none.d-md-block(src="../dist/images/bgc-project.png", alt="xxx")
        .col.text-center(style='z-index: 10')
            h2.text-c-green Create your 
                    span.text-c-orange next project 
                    |with startup 
                    br
                    |framework
            form(action="#", method="post") 
                button.mt-3.me-md-3.btn.btn-warning.text-uppercase(type='button') Get Started