section.container
    .row.mt-md-7.bgc-ff
        .col-md-7.pt-4.align-self-center.pt-4
            h2.text-c-green.mb-3 Invest property for better 
                span.text-c-orange business
            p.fs-5.text-c-violet We are committed to processing the information in order to contact you and talk about your project. We are committed to processing the information.
            form(action="#", method="post") 
                button.mt-3.me-md-3.btn.btn-warning.text-uppercase(type='button') Learn More
        .col-md-5.pt-4.d-flex.justify-content-sm-center
            img.img(src="../dist/images/Group1.png", alt="Group")
    .row.mt-5.bgc-ee
        .col-md-6.pt-4.align-self-start.pt-4
            img.img(src="../dist/images/Group2.png", alt="Group")
        .col-md-6.pt-4.align-self-center.pt-4
            h4.text-c-green.mb-3 Help Finding Information Online
            p.fs-5.text-c-violet Fully customizable and neatly organized components will help you work faster without limiting creative freedom.
            .row
                .col-md-6.mt-3
                    object.img.mb-2(data="../dist/images/svg/Swiss.svg", type="image/svg+xml")
                    h5.text-c-green.mb-2 Feature One
                    p.fs-6.text-c-violet Fully customizable and neatly organized components will help you work faster 
                .col-md-6.mt-3
                    object.img.mb-2(data="../dist/images/svg/icon7.svg", type="image/svg+xml")
                    h5.text-c-green.mb-2 Feature Two
                    p.fs-6.text-c-violet Fully customizable and neatly organized components will help you work faster 
    .row.mt-5.d-flex.justify-content-center
        .col-10.text-center.bgc-cl.rounded.pt-2.pb-2
            h3.mb-3.text-c-orange There are many reasons to get down
            p.mb-2.fs-5.text-c-violet There are many reasons to get down and start to get depressed about your situation. 
            .input-group.mw-20.mx-auto.mb-2
                input.form-control(type='text' placeholder="Your Email" aria-label="Recipient's username" aria-describedby='button-addon2')
                button.btn.btn-warning.text-uppercase(type='button') Send
            p.mt-2.fs-6.text-c-violet No spam. Only releases, updates and discounts