@media (max-width: 767px) {
    .text-mda-cnt {
        text-align: center;
    }
    .navbar-nav:first-child {
        padding-top: 20px;
    }
    .video-content {
        height: 300px;
    }
 }

 @media (max-width: 400px) {
    .video-prew {
        height: 200px;
    }
    .video-content {
        height: 200px;
    }   
 }
