
// ff family
$ff-monserat: 'Montserrat', sans-serif;
$ff-inter:    'Inter', sans-serif;

//colors
$c-orange: #ffc107;
$c-violet: #8476AA;
$c-green:  #99EFD0;
$c-gray-1: #B5B5B5;
$c-gray-2: #6D6D78;
//colors-gradient
$g-green: linear-gradient(180deg, #A4FFFF 0%, rgba(171, 183, 227, 0) 100%);

