extends ../layouts/layout.pug
block vars
    -let title = 'Processing Company'
block content
    include ../mixins/mixins.pug
    include ../blocks/header.pug
    include ../blocks/main.pug
    include ../blocks/second.pug
    include ../blocks/third.pug
    include ../blocks/footer.pug
    include ../blocks/modal.pug